body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

form {
    height: 40px;
    width: 50vw;
    max-width: 1000px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    flex-direction:  row;
    align-items: center;
    justify-content: center;
}

#navbar{
    position: absolute;
    width: 100vw;
    height: 50px;
    display: inline-flex;
    flex-direction:  row;
    align-items: center;
    justify-content: center;
    background-color: #582d0f;
    color: white;
}

.navURL{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.navURL:hover{
    color: white;
}

a {
    color: black;
}

a:hover{
    color: #999999;
}

.formCon {
    margin-top: 70px;
    margin-left: 2.5vw;
    width: 95vw;
    display: inline-flex;
    flex-direction:  row;
    align-items: center;
    justify-content: center;
}

input{
    height: 30px;
    width: 30vw;
    max-width: 500px;
    border: black solid 1px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.submit{
    width: 5vw;
    min-width: 70px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
}
.submit:hover{
    background-color: #582d0f;
    color: white;
}

.tableCon{
    display: grid;
    grid-template-columns: repeat(2, 46.25vw);
    column-gap: 2.5vw;
    width: 95vw;
    margin-top: 30px;
    margin-left: 2.5vw;
}

.searchCon{
    display: block;
    width: 95vw;
    margin-top: 30px;
    margin-left: 2.5vw;
}

#searchTable{
    width: 100%;
}

.head{
    background-color: #582d0f;
    color: white;
    border-bottom: none !important;
}

.top{
    border-top: none !important;
}

table {
    border-collapse: collapse;
    background-color: #582d0f;
}

tr {
    border: white solid 8px;
    background-color: #DDDDDD;
}

th{
    font-weight: normal !important;
}

h4{
    font-weight: bolder !important;
}