<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logoBrown.png') }}">
    <title>Textbook Diversity Database</title>
</head>

<body>
    <div id="navbar"><img src="{{ url_for('static', filename='logo.png') }}" />
        <h3><a class="navURL" href="./">Textbook Diversity Database</a></h3>
        <h4><a class="navURL" href="/list">All Textbooks</a></h4>
    </div>
    <div class="formCon">
        <form action="/search" method="post">
            <input type="text" name="textbook_id" class="searchbar" placeholder="Search for titles, ISBNs, or courses" /><br>
            <input type="submit" value="Submit" class="submit">
        </form>
    </div>
    <div class="tableCon">
        <table>
            <tr class="head">
                <th class="head" colspan="2">
                    <h3>Most Female Authors</h3>
                </th>
            </tr>
            <tr class="top">
                <th>
                    <h4>Textbook</h4>
                </th>
                <th>
                    <h4># of Female Authors</h4>
                </th>
            </tr>
            {% for female in gender %}
            <tr>
                <th>
                    <p><a href="/textbook?bookName={{female.title}}">{{female.title}}</a></p>
                </th>
                <th>
                    <p>{{female.femaleNum}}</p>
                </th>
            </tr>
            {% endfor %}
        </table>
        <table>
            <tr class="head">
                <th class="head" colspan="2">
                    <h3>Most Common Universities</h3>
                </th>
            </tr>
            <tr class="top">
                <th>
                    <h4>Universities</h4>
                </th>
                <th>
                    <h4># of Authors</h4>
                </th>
            </tr>
            {% for textbook in university %}
            <tr>
                <th>
                    <p>{{textbook.university}}</p>
                </th>
                <th>
                    <p>{{textbook.uniCount}}</p>
                </th>
            </tr>
            {% endfor %}
        </table>
        <table>
            <tr class="head">
                <th class="head" colspan="2">
                    <h3>Textbooks Without Female Authors</h3>
                </th>
            </tr>
            <tr class="top">
                <th>
                    <h4>Textbook</h4>
                </th>
                <th>
                    <h4>Course</h4>
                </th>
            </tr>
            {% for textbook in onlyMale %}
            <tr>
                <th>
                    <p><a href="/textbook?bookName={{textbook.title}}">{{textbook.title}}</a></p>
                </th>
                <th>
                    <p>{{textbook.course}}</p>
                </th>
            </tr>
            {% endfor %}
        </table>
        <table>
            <tr class="head">
                <th class="head" colspan="2">
                    <h3>Most Expensive Textbooks</h3>
                </th>
            </tr>
            <tr class="top">
                <th>
                    <h4>Textbook</h4>
                </th>
                <th>
                    <h4>New Hardcover Cost</h4>
                </th>
            </tr>
            {% for textbook in cost %}
            <tr>
                <th>
                    <p><a href="/textbook?bookName={{textbook.title}}">{{textbook.title}}</a></p>
                </th>
                <th>
                    <p>${{textbook.cost}}</p>
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>