<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logoBrown.png') }}">
    <title>Not Found | Textbook Diversity Database</title>
</head>
<body>
    <div id="navbar"><img src="{{ url_for('static', filename='logo.png') }}" />
        <h3><a class="navURL" href="./">Textbook Diversity Database</a></h3>
        <h4><a class="navURL" href="/list">All Textbooks</a></h4>
        <h4><a class="navURL" href="/aboutUs">About Us</a></h4>
    </div>
    <div class="formCon">
        <form action="/search" method="post">
            <input type="text" name="textbook_id" class="searchbar" placeholder="Search for titles, ISBNs, or courses" /><br>
            <input type="submit" value="Submit" class="submit">
        </form>
    </div>
    <div class="notFound">
    <h1>{{ textbook_id }}</h1>
    <p>Was not found.<br> Sorry :(<br> <a href="./">Search again?</a></p>
    </div> 
</body>
</html>